*{
	/*CSS RESET */
	padding:0;
	margin:0;
}

h1{
	text-align:center;
	margin: 25px;
	font-size: 20px;
}

a{
	display: block;
	width:160px;
	height:45px;
	background-color: #CCC;
	border: 1px solid #AAA;
	text-align:center;
	line-height: 45px;
	font-weight: bold;
	text-decoration: none;
	margin: 2px;
	color: #66A;
	border-left-width:5px;
	border-radius: 5px; /*arrotonda gli angoli*/
	 /*LARGHEZZA PULSANTE: 160(width) + 0(padding) + 5+1=6(border) + 4(margin) */
}
}

a:hover{
	text-decoration: underline;
	background-color: #66A;
	color: #CCC;
}

ul{
	border: 1px solid #999;
	margin: 10px auto;  /*SERVE SOLO SE CE UN WIDTH ALTRIMENTI NON FUNZIA*/
	list-style-type: none; /*toglie i puntini dell'elenco puntato*/
}

ul.verticale{
	width: 170px;
}

ul.orizzontale{
	width: 680px; /*170*4=680*/
}

ul.orizzontale li{
	display: inline-block;
}