p{
	font-family: vcerdana, helvetica, sans-serif;
	font-size:15px;
	text-align:center;
	
	
}
p span{
	font-weight:bold;
}
#intestazione {
	font-size:30px;
}
.corsivo{
	font-style:italic;
}
.sottolineato{
	text-decoration:underline;
	color:blue;
	letter-spacing:-1px;
	word-spacing:2px;
	font-weight:normal; 
}
div{
	width:500px;
	height:150px;
	border:1px solid black;
	border-left-width:4px;
	border-bottom-color:yellow;
	background-color:#D5A235;
	margin-top:30px;
	margin:30px 0px 0px 100px;
	margin: 40px 200px; /*primo numero sopra sotto e il secondo è left right*/
	margin: 40px auto;
	padding: 20px;
	vertical-align:middle; /*non fa nulla perchè vale solo per i tag inline*/
	/*line-height:150px  va bene solo quando ho un'unica riga*/
	
	
}